# 1. Entorno de Desarrollo (IntelliJ IDEA)
.idea/
*.iml
*.iws
*.ipr
out/
# 2. Compiladores y herramientas de construcción (Java / Maven)
*.class
target/
build/
*.jar
*.war
# 3. Archivos del Sistema Operativo
.DS_Store
Thumbs.db
desktop.ini
# 4. Archivos de registro y temporales
*.log
*.tmp
*.bak